:root {
    --colour: rgb(245, 237, 237);
    --spacing: 10px;
    --blur: 2px;
}

h2 {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    margin-left: 10%;
    background-color: rgb(4, 39, 27);
    color: white;

}

img {
    margin-top: 30px;

    padding: var(--spacing);
    background-color: var(--colour);
    width: 40vw;
    height: auto;
    filter: blur(var(--blur));
}

.js {
    color: var(--colour);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}